.nav {
  z-index: 10;
  margin: var(--gap) auto;
  padding: var(--gap) 0;
  background-color: var(--header-bg);
  backdrop-filter: saturate(180%) blur(20px);
}

.header {
  margin: 0 auto;
  padding: 0 var(--gap);
  max-width: var(--main-content);
  display: flex;
  align-items: center;
}

.logo {
  width: calc(var(--big-gap) * 2);
  height: calc(var(--big-gap) * 2);
  border-radius: var(--radius);
}

.titles {
  margin-left: var(--gap);
}
